header {
    background-color: white;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    text-align: left;
    line-height: 70px;
}